* {
  box-sizing: border-box;
}

body {
  background-color: rgb(67, 129, 211);
}

.container {
  display: flex;
  flex-direction: column;
  margin: 50px auto 0;
}

.container video {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.controls {
  display: flex;
  column-gap: 12px;
  background-color: black;
  padding: 8px 20px;
  font-size: 20px;
  border-radius: 0 0 10px 10px;
}

.control-btn {
  cursor: pointer;
}

.control-btn #play {
  width: 16px;
  color: green;
}

.control-btn #stop {
  width: 16px;
  color: red;
}

.progress-container {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}

#progress {
  position: absolute;
  border: 4px solid blue;
  width: 100%;
}

#progress-slider {
  z-index: 1;
  display: flex;
  align-items: center;
  position: absolute;
  transition: left 0.3s linear;
}

.slider {
  width: 7px;
  height: 18px;
  background-color: #cecece;
  cursor: pointer;
}

.time-duration {
  color: white;
}
